.sprite {
	background-image: url(../images/sprites.png);
	border: none;
	outline: none;
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: inline-block;
}
.sprite.collapse-icon {
	background-position: -0px -0px;
	width:13px;
	height:8px;
}
.sprite.expand-icon {
	background-position: -0px -10px;
	width:13px;
	height:8px;
}
.sprite.expand-icon:hover {
	background-position: -0px -20px;
	width:13px;
	height:8px;
}
.sprite.share-facebook {
	background-position: -0px -30px;
	width:32px;
	height:32px;
}
.sprite.share-facebook:hover {
	background-position: -0px -64px;
	width:32px;
	height:32px;
}
.sprite.share-googleplus {
	background-position: -0px -98px;
	width:32px;
	height:32px;
}
.sprite.share-twitter {
	background-position: -0px -132px;
	width:32px;
	height:32px;
}
